extends layout

block content
  h1= title


  form(class="form-signin" method="POST" action="./new/success")
            #error
                if error
                    p.text-danger Error!!!
            p Please enter keys of channel for this sidechain
            input(type="text" name="pubkey" placeholder="Publish key" class="form-control" required autofocus)
            input(type="text" name="subkey" placeholder="Subscribe key" class="form-control" required autofocus)
            input(type="text" name="seckey" placeholder="Secret key"  class="form-control" required autofocus)
            p
            input(type="text" name="name" placeholder="Name of Sidechain"  class="form-control" required autofocus)
            p
            input(type="text" name="freezing_amount" placeholder="Amount to be locked/frozen in main (In Main Currency)"  class="form-control" required autofocus)
            p
            p Balance in sidechain account = Freezing amount* Conversion factor
            input(type="text" name="conversionfactor" placeholder="Conversion factor"  class="form-control" required autofocus)
            p
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block','buttonClass'];
            button(class=buttonClass type="submit") Proceed
   
  p
  p(class='redflag') Dont have keys ?
  
  a(class=pClasses, href='https://www.pubnub.com/') Get keys from PubNub
  p
  a(class=pClasses, href='https://www.youtube.com/watch?v=-mJZBs5sUJ8&feature=youtu.be') Video : How to get Keyset from PubNub ?        
            
  p
  - var pClasses=['mb-3', 'text-muted','mt-5'];
  div(class=pClasses)
    p Note :
    p In blockchain, peers have to communicate with each other to keep state constant.
    p Each sidechain have its own dedicated channel for this communication.
    p We use PubNub we create this channel